<form method="post" action="artist">
<table border="1">
	<tr>
		<td>Artist Name</td>
		<td><input type="name" value={{ name }}></td>
	</tr>
	<tr>
		<td>Song</td>
		<td><input type="song" value={{ songs }}></td>
	</tr>
	<tr>
		<td>Album</td>
		<td><input type="album" value={{ album}}></td>
	</tr>		
</table>
</form>